.header {
  width: 100%;
  border-bottom: 1px solid var(--color-crema);
  background-color: var(--color-crema);
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 120px;
}
.logo {
  display: block;
  padding: 24px 0;
}
.headerNav {
  display: none;
}
.menu {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1200px) {
  .headerNav {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .navLink {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    transition: color 250ms ease-in-out;
  }
  .navLink:hover,
  .navLink:focus {
    color: var(--color-blue);
  }
  .active {
    color: var(--color-blue);
  }
  .menu {
    display: none;
  }
}
