.carDetails {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 44px;
}
.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 40px;
  grid-template-areas:
    'image'
    'image'
    'descr'
    'descr'
    'descr'
    'descr'
    'book'
    'book';
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-area: image;
  border-radius: 19px;
}
.description {
  grid-area: descr;
}
.booking {
  grid-area: book;
}
.image,
.description,
.booking {
  min-width: 0;
}
@media screen and (min-width: 768px) {
  .carDetails {
    padding-top: 50px;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .carDetails {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 84px;
    padding-bottom: 104px;
  }
  .wrapper {
    grid-template-columns: minmax(0, 640px) minmax(0, 1fr);
    row-gap: 0;
    column-gap: 72px;
    grid-template-areas:
      'image descr'
      'image descr'
      'book descr'
      'book descr';
  }
}
